n8n/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "command": "=python3 /home/node/.n8n-files/estati.py --execucoes {{$json.execucoes}} --iteracoes {{$json.iteracoes}} --saida /home/node/.n8n-files/saida --arquivo resultado.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "b9bdb5e9-2c7f-4a12-9a30-7b2655b660e4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/saida/resultado.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        944,
        0
      ],
      "id": "8360eec5-4f62-4b11-ad11-13ef6d01b57e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "formTitle": "Definição de parametro",
        "formFields": {
          "values": [
            {
              "fieldLabel": "execucoes",
              "fieldType": "number"
            },
            {
              "fieldLabel": "iteracoes",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        368,
        0
      ],
      "id": "a64e3607-4f92-4a20-97e6-c82d1d867ec4",
      "name": "On form submission1",
      "webhookId": "ff2d4a63-5960-4b6f-9295-07bfed4bc915"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "57db3a1e-d4f0-490c-81e3-f0049dd7bde0",
  "meta": {
    "instanceId": "e1cdd3ba60872b032410bcc1755e026ba64cdead8bb8bf93cf654f8c73cbffb1"
  },
  "id": "zMsDrWXYpupAZxCN",
  "tags": []
}